<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/marienyoga/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/mari%C3%A9n-garcia-4b9b783b/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="mailto:lamarienyoga@gmail.com" target="_blank"><i class="far fa-envelope envelope "></i></a>
  </div>
  <div class="footer-link-credit">
    <a href="https://www.linkedin.com/in/laurent-binder/" target="_blank">
      <div class="footer-copyright large-devise">
        This Website is made with <i class="fas fa-heart"></i> by Lo
      </div>
      <div class="footer-copyright small-devise">
        made by Lo
      </div>
    </a>
  </div>
</div>
