<div id="footer">
  <div class="footer-links">
    <%# <a href="https://www.instagram.com/marienyoga/" target="_blank"><i class="fab fa-instagram"></i></a> %>
    <a href="https://www.linkedin.com/in/mari%C3%A9n-garcia-4b9b783b/" target="_blank"><i class="fab fa-linkedin"></i></a>
    <div id="mail">
      <a href="mailto:lamarienyoga@gmail.com" target="_blank"><i class="far fa-envelope envelope ">
        </i>
      </a>
    </div>
  </div>
  <div id="footer-link-credit">
    <div class="footer-copyright large-devise">
      <a href="https://www.laurentbinder.com/" target="_blank">
        This Website is made with <i class="fas fa-heart"></i> by Lo
      </a>
      <p>Photo Rubén Tardío</p>
    </div>
    <div class="footer-copyright small-devise">
      <a href="https://www.laurentbinder.com/" target="_blank">
        Web design Laurent Binder
      </a>
      <p>Photo Rubén Tardío</p>
    </div>
  </div>
</div>
