<div class="moving-letters flex-start" type="submit">
  <%= link_to root_path do %>
    <h1>
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters letters-left">Marién</span>
        <span class="letters logo-img">
          <%= image_tag "logo.svg", alt: "logo image" %>
          <!-- <img src="images/logo.svg" alt="logo image"> -->
        </span>
        <span class="letters letters-right">Yoga</span>
        <span class="line line2"></span>
      </span>
    </h1>
  <% end %>
</div>
<!-- script moving-letters -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js" integrity="sha384-9atDx0xPB099lQEyzgFCXU+VJUpNXc+PmPsPG0kTD5qjvDZK5yzMwMj8eof6Kqyz" crossorigin="anonymous"></script>
