<div class="navbar navbar-expand-sm navbar-light">
  <!-- left link -->
  <div class="left-navbar">
    <%= render 'shared/flags' %>


  </div>
  <!-- logo-yoga -->
  <div class="center-logo">
    <%= render 'shared/logo' %>
  </div>

  <!-- right links---------------- -->
  <!-- burger-to-x -->
  <div class="right-navbar burger-to-X">
    <%#= render 'shared/burger-to-X' %>
  </div>
  <!-- extended-menu -->
  <div class="right-navbar extended-menu">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </div>
</div>

