<div class="container">
  <div class="card-area">
    <!-- hatha yoga info -->
    <div id="knee" class="title-line"><h3>K-Training</h3></div>
    <div class="card-info">
      <div class="content">
        <p><%= t 'knee.kContent_html' %></p>
      </div>
      <main>
      <div class="diapo">
        <div class="elements">
          <div class="element active">
            <%= image_tag "k-training_1.jpg", alt: "K-Training image 1" %>
          </div>
          <div class="element">
            <%= image_tag "k-training_2.jpg", alt: "K-Training image 2" %>
          </div>
          <div class="element">
            <%= image_tag "k-training_3.jpg", alt: "K-Training image 3" %>
          </div>
        </div>
        <i id="nav-left" class="fas fa-chevron-left"></i>
        <i id="nav-right" class="fas fa-chevron-right"></i>
      </div>
      </main>
    </div>
  </div>
</div>
