<div class="container">
  <div id="yoga">
    <div class="card-area">
      <!-- hatha yoga info -->
      <div class="title-line"><h3>Hatha Yoga</h3></div>
      <div class="card-info">
        <div class="content">
          <h4>Le Hatha yoga est le yoga le plus pratiqué en Occident</h4>
          <p>
            Le Hatha Yoga est une science, un art, une pratique individuelle, une philosophie de vie, origniaire de l’Inde avec plus de 3.000 ans d’antiquité.
            <br>
            La pratique du yoga consiste à la réalisation de séquences de postures plus ou moins dynami-ques; à l’alignement du corps, la respiration consciente, la concentration et la rélaxation comme principes fondamentaux.
            <br>
            Une bonne definition pourrait être: le Hatha Yoga c’est le travail avec le corps physique afin d’atteindre un ëtat de superconsicience.
            <br>
            Notre corps est notre outil de travail pour atteindre cet état meditatif élevé.
            <br>
            La méditation est notre legs à tous. C’est quelque chose qu’il est en notre pouvoir et de notre devoir d’expérimenter spontanément. Cependant, notre mode de vie nous en détourne. Nous sommes toujours tendus parce que nous ne connaissons pas notre nature profonde. Nous essayons de faire des choses que nous croyons nécessaires même si elles sont contraires à notre nature. Il y a conflit permanent entre ce qui est et ce que nous voulons. Nous voulons toujours devenir quelque chose au lieu de nous contenter d’être, tout simplement. Si seulement nous pouvrions faire coinci-der ce que nous sommes avec ce que nous désirons, alors la méditation se ferait automatique-ment.
            <h5><em>(extrait du livre Meditations tantriques de Swami Satyananda Saraswati)</em></h5>
            <br>
            Pendant mes cours, on travaille la respiration consciente, l’alignement dans chaque posture et la partie la plus importante, l’observation de soi, qui nous emmenera progressivement vers un état de plus en plus elevée et subtile.
          </p>
        </div>
        <div class="image-info img-right">
          <img src="https://images.unsplash.com/photo-1508133111629-be3f6e535a52" alt="yoga on the beach">
        </div>

      </div>

    </div>
    <div class="card-area">
      <!-- yoga nidra info -->
      <div class="title-line"><h3>Yoga Nidra</h3></div>
      <div class="card-info">
        <div class="content">
          <h4>Le Yoga nidra est ...</h4>
          <p>
            Le Yoga Nidra a été fondé par Swami Satyananda Saraswati dans les années 60’ ainsi que la Bihar School of Yoga. Le Yoga Nidra est un style de yoga originaire des pratiques tradiitionnelles tantri-ques de nyasa. Il consiste en une profonde meditation guidée estructurée en neuf étapes dans les-quelles le profeseur, avec sa voix vous guide vers un voyage interieur là ou toutes les tensions physiques, mentales et emotionnelles se relachent, pour quelques instants, se rendant au som-meill éveillé…le Yoga Nidra est un système d’elimination de tensions ultra-efectif.
            Il est aussi consideré comme un yoga thérapeutique.
            <br>
            La pratique de Yoga Nidra harmonise notre potentiel inconscient et notre éveil intérieur.
            Les séances peuvent durer entre 20 et 45 minutes, on est allongés sur le dos, en posture de sa-vasana.
          </p>
        </div>
        <div class="image-info img-right">
          <img src="https://images.unsplash.com/photo-1506126613408-eca07ce68773?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2202&q=80" alt="yoga on the beach">
        </div>

      </div>

    </div>
  </div>

</div>
