/*card-info*/
.card-info {
  text-align: justify;
  padding-bottom: 16px;
}
.card-info .avatar-large {
  display: none;
  max-width: none;
  width: 104px;
}
.card-info .avatar-image{
  text-align: center;
}
