/*responsive*/ // 254
@media (max-width: 1018px) {
    .moving-letters h1 {
      // font-size: 24px;
    }
}

@media (max-width: 768px) {
    .moving-letters h1 {
      // font-size: 18px;
    }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 96px;

  }
}

@media (min-width: 768px) {
    .card-info {
      display: inline;
    }
}

@media (min-width: 560px) {
  .small-devise {
    display: none;
  }
  p {
    // font-size: 120%;
  }
  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
}

// small devise
@media (max-width: 560px) {
  .card-info {
    text-align: inherit;
  }
  .card-area {
    padding: 0;
  }
  .color-box {
    margin: 0;
  }
  .moving-letters h1 {
    font-size: 24px;
  }
  .small-devise {
    display: inline-block;
  }
  .large-devise {
    display: none;
  }
  #footer {
    padding: 0 8px;
  }
  body {
      .nav-bar {
        padding: 0.5rem 1rem;
      }
  }
  .menu-wrap {
    right: 64px;
  }
  html {
    scroll-behavior: auto !important;

  }

}
