/*responsive*/ // 254
@media (max-width: 1018px) {
    .moving-letters h1 {
      font-size: 24px;
    }
}

@media (max-width: 942px) {
    .moving-letters h1 {
      font-size: 18px;
    }
}

@media (max-width: 768px) {
    .moving-letters h1 {
      font-size: 18px;
    }
}

@media (min-width: 1200px) {
  .container {
    padding: 0 96px;

  }
}

@media (min-width: 768px) {
    .card-info {
      display: inline;
    }
    .burger-to-X {
      /*display: none;*/
    }

}

@media (min-width: 560px) {
  .small-devise {
        display: none;
      }
}


@media (max-width: 560px) {
    .small-devise {
      display: inline-block;
    }
    .large-devise {
      display: none;
    }
    .footer {
      padding: 0 16px;
    }
    html {
      scroll-behavior: auto !important;
    }
}
